{% extends "layout.html" %}

{% block body %}
<div class="side">
    <b>Getränkekasse:
        <span class="balance"
            {% if cash_in_balance < 0.0 %}style="color: red;"
                {% else %}style="color: green;" {% endif %}>
            {{ '%.2f' % cash_in_balance }} €
        </span>
    </b>
</div>


<div class="products">
<h2>Transaktionsverlauf:</h2>
<table class="history">
  {% if transactions %}
  <tr>
    <td>Datum</td>
    <td>Ware</td>
    <td>Menge</td>
    <td>Einheit</td>
    <td>Von</td>
    <td>Zu</td>
    <td>Kommentar</td>
  </tr>
  {% for t in transactions %}
  <tr>
    <td>{{ t.datetime }}</td>
    <td>{{ t.valuable_name }}</td>
    <td class="number">{{ t.amount }}</td>
    <td>{{ t.unit_name }}</td>
    <td>{{ t.from_name}}</td>
    <td>{{ t.to_name }}</td>
    <td>{{ t.comment }}</td>
  </tr>
  {% endfor %}
  {% else %}
  <tr>
    <td><em>Unbelievable. No transactions here so far.</em></td>
  </tr>
  {% endif %}
</table>
</div>
{% endblock %}
